.table-responsive {
  margin-top: 20px;
}


.table th,
.table td {
  vertical-align: middle;
  border: 1px solid #dee2e6;
  color: #495057;
}

.table th {
  background-color: #007bff;
  color: #fff;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn i {
  margin-right: 0;
}

.btn-primary i,
.btn-success i,
.btn-secondary i,
.btn-warning i,
.btn-danger i {
  color: #fff;
}
.card {
  border: 1px solid #0a0a0a;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #343a40;
  padding: 10px 15px;
  font-size: 1.25em;
  font-weight: bold;
  color: #000000;
  border-bottom: 1px solid #dee2e6;
}

.card-body {
  padding: 15px;
  font-size: 1em;
  color: #495057;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content {
  max-width: 600px;
  width: 100%;
}

.text-center {
  text-align: center;
}
.mb-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #000000;
  font-weight: bold;
}
